// Orange's web template color v2.0
// 預設透明度
$amount: 20% !global
// 全域設定
// master color
$master: (master01: #fff, master02: #fff, master03: #fff)
// assist color
$assist: (assist01: #fff, assist02: #fff, assist03: #fff)
// base background & border color
$background: #fff
$bg_header: #fff
$bg_footer: #fff
$border_color: #999
// nav
$nav_bg: #fff
$NavLink: (base: #333, hover: #f90, focus: #000)
// links
$alink:  (base: #f90, hover: #f60, focus: #a00)
// text
$headings: (h2: #999, h3: #333, h4: #333, h5: #333)
$text_color: #333
// breadcrumbs
$breadcrumbs: (base: #333, hover: #333, focus: #333)
// pagination
$pagination_bg: (base: #ccc, hover: #f90, focus: #f60)
$pagination_text: (base: #ccc, hover: #f90, focus: #f60)
// form
$button_bg: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$button_border: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$input_bg: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$input_border: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$select_bg: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$select_border: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$option_bg:  (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$textarea_bg: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
$textarea_border: (base: #fff, dark: darken(#fff, $amount), light: lighten(#fff, $amount))
// base icon color
$icons_bg: (base: #ffffff00, hover: #ffffff00,  focus: #ffffff00)
$icons_text: (base: #333, hover: #f90,  focus: #000)
// box border
$box_border: (border: #ccc, hover: #f60, focus: #00a)
// gallery
$gallery: (title: #f90, text_hover: #f60, border: #ccc, borderhover: #666, context: #999)
$effects: #ff990099
// 圖文重疊
$graphic_pic_bg: #00000099
$graphic_pic_text: #fff
$graphic_pic_link_bg: (base: #ffffff00, hover: #fff, focus: #999)
$graphic_pic_link_text: (base: #fff, hover: #333, focus: #f90)