// Orange's web template functions v1.0
$width: 100% !global
$height: 100vh !global
$galleryHeight: 1px !global
$filterValue: 1% !global
// gird for 12
$total: 12 !default
// 元件預設值為 15px
$baseSize : 15px !global
// 字體預設值為 1rem = 16px
$baseFont : 1rem !global
// 字體粗細
$font_weight: (1: 100, 3: 300, 4: 400, 5: 500, 7: 700)
// border width
$baseBorder : 1px !default
// gutter = 邊界寬
$custom-gutter-width: 30px !default
// 框架寬度
$container-max-widths: (sm: 576px,md: 768px,lg: 992px,xl: 1310px, xxl: 1470px, fluid: 100%) !default

// @return = 運算式結構開始, 就是說怎麼計算, $baseSize = 基本預設值 "+,-,*,/" 這個可以自己設定要怎麼計算, $count 計算式
// 運算子
// 框架寬度
@function container-width($key: "sm")
	@return map-get($container-max-widths, $key)
// col 計算
@function columns-width($col, $tolal: 12)
	@return percentage($col/$total)
// offset 未完成 , 用到的地方不多考慮要不要拿掉
@function offset($col, $offset: 12)
	@return percentage($col/$offset)
// 文字
@function baseFont($count: 1)
	@return $baseFont * $count
// 元件
@function baseSize($count: 1)
	@return $baseSize * $count