// Orange's web template basic v1.0
@import _basic
@import _extools
h2.page_title
	+fontSize(6)
	+fontWeight(1)
	color: map-get($headings, h2)
	+tac
	text-transform: uppercase
	line-height: 150%
	+mb(3)
	+breakpoint(sm)
		+fontSize(3.5)
	+breakpoint
		+fontSize(3)
h3.unit_title
	+fontSize(3.5)
	+fontWeight(1)
	color: map-get($headings, h3)
	+tac
	line-height: 150%
	+my(5)
	+breakpoint(sm)
		+fontSize(3)
	+breakpoint
		+fontSize(2)
// exsample
section.guide
	+container(xxl)
	+mb(5)
	+px(1)
	dl.jump
		background: #00000077
		+py(1)
		+pl(1)
		+pr(.5)
		+radius(.5, top-left)
		+radius(.5, bottom-left)
		position: fixed
		top: 35vh
		right: 0
		z-index: 9999
		+breakpoint(sm)
			+row
			background: none
			border: none
			+jcc
			+mb(1.5)
			position: initial
		+breakpoint
			background: none
			border: none
			+row
			+jcc
			+mb(1.5)
			position: initial
		dt, dd
			+fontWeight(4)
			+tar
		dd
			border-bottom: 1px solid #ffffff33
			position: relative
			&:last-of-type
				border: none
			// &::after
			// 	content: ''
			// 	width: 1rem
			// 	height: 2px
			// 	border-bottom: 2px solid #f90
			// 	position: absolute
			// 	top: 13px
			// 	right: -1.5rem
			=jumpRWD
				+px(1)
				&::after
					content: '|'
					border-bottom: none
					top: 0
					right: 0
					+pl(2)
				&:last-of-type
					&::after
						content: none
			+breakpoint(sm)
				+jumpRWD
			+breakpoint
				+jumpRWD
	div.note
		background: #eee
		border: 1px solid #ccc
		+mb(2)
		+p(1)
	// div.guide
	// 	+mb(3)
	// 	h3
	// 		+fontWeight(4)
	// 		color: #666
	// 	div.code
	// 		border: 1px solid #ccc
	// 		line-height: 1.5
	// 		+mb(1.5)
	// 		+py(1)
	// 		+px(1.5)
	// 		code
	// 			+fontFamily
	// 			p
	// 				word-break: break-word
	// 			p.element
	// 				+ml(1)
	// 			p.element2
	// 				+ml(2)
	// 			p.element3
	// 				+ml(3)
	// 			p.element4
	// 				+ml(4)
	// 			p.element5
	// 				+ml(5)
	// 			p.element6
	// 				+ml(6)
	// 			p.element7
	// 				+ml(7)
	// 			p.element8
	// 				+ml(8)
	// 			p.element9
	// 				+ml(9)
	// 			p.element10
	// 				+ml(10)
	// 		span
	// 			color: #f00
	// 	div.code-row
	// 		+row
	// 		code
	// 			+col-5
	// 			+breakpoint(md)
	// 				+col(6)
	// 				+my(1)
	// 			+breakpoint(sm)
	// 				+col(6)
	// 				+my(1)
	// 			+breakpoint
	// 				+col(12)
	// 				+my(1)
// nav swithc
+NavSwitch
=NavLink
	a
		color: map-get($NavLink, base)
		&:hover
			color: map-get($NavLink, hover)
		&:focus
			color: map-get($NavLink, focus)
// body
body
	+fontSize(1)
header
	width: $width
	+px(0)
	+mx(0)
	// navbar
	div.navbar
		+aic
		+jcb
		+py(2)
		+px(2)
		+mx-auto
		div.logo
			width: auto
			+logo(15)
			+tac
			+mb(3)
		nav.desktop
			+container(xl)
			+mt(2)
			ul
				+row
				+aic
				+jcc
				li
					+fontSize(1.25)
					+NavLink
					&::after
						content: '|'
						+px(1)
					&:last-of-type
						&::after
							content: none
		nav.mobile
			// button open nav
			div.navOpen
				button.navOpen
					background: none
					border: none
					+px(0)
					position: absolute
					top: 1rem
					right: 1rem
					img
						width: 2rem
						height: 2rem
			div[off-canvas]
				width: $width
				background: #ffffffdd
				// button close nav
				button.navClose
					background: none
					border: none
					position: absolute
					top: 1rem
					right: 1rem
					img
						width: 2rem
						height: 2rem
				ul.nav
					+row
					+mt(5)
					li
						+col(6)
						+NavLink
						+fontSize(1.85)
						+tac
						+mb(1)
						+py(.5)
						+breakpoint
							+col(12)
main
	+container(xxl)
footer
	div.copyright
		background: #000
		+fontFamily(Raleway,Noto Sans TC)
		color: #fff
		+tac
		+py(1)
// go top
div.goTop
	a.goTop
		background: none
		img
			height: 50px
